*{
    font-size: 10px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, #header{
    background: #eee;
}

#header{
    display: flex;
    height: 11vh;
    align-items: center;
    justify-content: space-between;
    padding-left: 3.4vw;
    padding-right:3.4vw;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

}

#header #header-img{
    height: 3.3rem;
}

#header #nav-bar{
    width: 38%;
}

#nav-bar ul{
    display:flex;
    align-items: center;
    justify-content: space-around;
}

li{
    list-style: none;
}

#nav-bar a{
    color:black;
    font-size: 1.4rem;
    text-decoration: none;
}

main{
    width: 73%;
    margin:auto;
    margin-top: 11vh;
}

#form {
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 1.5rem;

}


#form h1{
    font-size:2rem;
    margin-bottom: 2rem;
}

#form #email {
    width: 30%;
    height:3rem;
    padding: 1.5rem;
    font-size: 1.2rem;

}

#form #submit{
    width: 15%;
    height: 3rem;
    background: orange;
    font-weight: 700;
    font-size: 1.6rem;
    border: none;
}

section{
    padding: 3rem 0;
}


#features .groupfeatures{
    display: flex;
    align-items: center;
    margin: 2rem auto;
}

.groupfeatures i{
   padding: 3rem;
    color: orange;
    flex:1;
    display:flex;
    justify-content: center;
}

.features-content{
   flex:6;
}


#features .features-content h1{
    font-size: 2.1rem;

}

#features .features-content p{
    font-size: 1.5rem;
}

#how-it-works{
    display: flex;
    justify-content: center;
}

#video{
    width:570px;
}

#pricing{
    display:flex;
}

.products{
    text-align: center;
    flex:1;
    border: 1px solid;
    border-radius: 3px;
    margin: 1rem;
    padding-bottom: 1.5rem;
}

.products h2{
    padding: 1.5rem 0;
    background: #ddd;
    font-size: 1.4rem;
}

.products li{
    font-size:1.4rem;
    padding: 0.5rem;
}



.products p{
    font-size: 2rem;
    padding: 1.5rem;
}


.products .btn{
    margin-top: 3rem;
    background: orange;
    border:0;
    border-radius: 2px;
    text-transform: uppercase;
    padding: 1rem 2rem;
    font-size:1.6rem;
}
		


footer{
    padding: 2rem;
    background: #ddd;
}

footer ul, span{
    display:flex;
    justify-content: flex-end;
    font-size:1.3rem;
}

footer li{
    font-size:1.3rem;
    margin:0 1rem;
}
