*{
    font-size: 10px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, #header{
    background: #eee;
}

#header{
    display: flex;
    height: 11vh;
    align-items: center;
    justify-content: space-between;
    padding-left: 3.4vw;
    padding-right:3.4vw;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

}

#header #header-img{
    height: 3.3rem;
}

#header #nav-bar{
    width: 38%;
}

#nav-bar ul{
    display:flex;
    align-items: center;
    justify-content: space-around;
}

li{
    list-style: none;
}

#nav-bar a{
    color:black;
    font-size: 1.4rem;
    text-decoration: none;
}

main{
    margin:auto;
    margin-top: 11vh;
}

#form {
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 14vh;

}


#form h1{
    font-size:2rem;
    margin-bottom: 2rem;
}

#form #email {
    width: 29rem;
    height:3rem;
    padding: 1rem;
    font-size: 1.2rem;

}

#form #submit{
    width: 16rem;
    height: 3rem;
    background: #F1C43F;
    font-weight: 700;
    font-size: 1.6rem;
    border: none;
    cursor:pointer;
    border-radius:2px;
}

#form #submit:hover{
   background: orange;
   transition: background 0.9s;
} 


section{
    padding: 3rem 3rem;
}


#features .groupfeatures{
   max-width:1000px;
   margin: auto;
}

#features .groupfeatures{
    display: flex;
    align-items: center;
    margin: 2rem auto;
}

.groupfeatures i{
   padding: 3rem;
    color: orange;
    flex:1;
    display:flex;
    justify-content: center;
}

.features-content{
   flex:6;
}


#features .features-content h1{
    font-size: 2.1rem;

}

#features .features-content p{
    font-size: 1.5rem;
}

#how-it-works{
    display: flex;
    justify-content: center;
}

#video{
    width:570px;
}

#pricing{
    display:flex;
    justify-content: center;
}

.products{
   height: 49vh;
    max-width: 318px;
    text-align: center;
    flex:1;
    border: 1px solid;
    border-radius: 3px;
    margin: 1rem;
    padding-bottom: 1.5rem;
}

.products h2{
    padding: 1.5rem 0;
    background: #ddd;
    font-size: 1.4rem;
}

.products li{
    font-size:1.4rem;
    padding: 0.5rem;
}



.products p{
    font-size: 2rem;
    padding: 1.5rem;
}


.products .btn{
    margin-top: 3rem;
    background: #F1C43F;
    border:0;
    border-radius: 2px;
    text-transform: uppercase;
    padding: 1rem 2rem;
    font-size:1.6rem;
    cursor:pointer;
}

.products .btn:hover{
   background: orange;
   transition:background 1s;
}
		


footer{
    padding: 2rem;
    background: #ddd;
}

footer ul, span{
    display:flex;
    justify-content: flex-end;
    font-size:1.3rem;
}

footer li{
    font-size:1.3rem;
    margin:0 1rem;
}

@media (max-width:1000px){
   #features .groupfeatures{
      width:100%;
   }
}


@media (max-width:650px){
   #header{
      height: 20vh;

   }

   #form{
      margin-top: 130px;
   }
   
   #nav-bar ul{
      display: block;
      text-align: center;
   }

   #nav-bar li{
      padding: 0.3rem;
   }

}


@media (max-width:800px){
   #pricing {
      display:block;
   }

   #pricing .products{
      margin: 1rem auto;
   }

}


@media (max-width:600px){
   #header{
      display:block;
      text-align: center;
   }
   #header #nav-bar{
      width: 100%;
      text-align: center;
   }

   
}

@media (max-width:550px){
   
   #features .features-content{
      text-align: center;
   }

   #features .groupfeatures:nth-child(even){
      margin-top: 75px;
      margin-bottom: 75px;
   }

   #features i{
      display: none;
   }

}
